.cuerpo {
  margin-bottom: 120px;
}

.derecha {
  display: flex;
  justify-content: flex-end;
  font-weight: medium;
  font-size: 16px;
}

.contactanosButton {
  background-color: red;
  color: white;
  /* padding: 0.6rem;
  border-radius: 0.8rem;
  margin: 0rem 0.2rem; */
  max-width: 202px;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.h2 {
  display: flex;
  font-weight: 900;
  font-size: 38px;
}

.elementos {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.patrocinadorImg {
  width: 312px;
  height: 411px;
}

.contenedorboton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.patrocinadorImgabajo {
  margin-top: 30px;
}

.patrocinadorImgarriba {
  margin-bottom: 50px;
}

.izquierda {
  margin-top: 3px;
  font-weight: bold;
  font-size: 18px;
}
