.derecha {
  display: flex;
  justify-content: flex-end;
  font-weight: medium;
  font-size: 20px;
}

.contactanosButton {
  background-color: red;
  color: white;
  padding: 0.6rem;
  border-radius: 0.8rem;
  margin: 0rem 0.2rem;
  justify-content: center;
}

.h2 {
  display: flex;
  font-weight: 900;
  font-size: 48px;
}

.elementos {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.patrocinadorImg {
  width: 312px;
  height: 411px;
}

.contenedorboton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.patrocinadorImgabajo {
  margin-top: 30px;
}

.patrocinadorImgarriba {
  margin-bottom: 50px;
}

.izquierda {
  font-weight: bold;
  font-size: 18px;
}