/* .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
} */

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1312px;
    margin: 0 auto;
    padding: 0 20px;
}