






.emailInput {
    border: none;
    outline: none;
    width: 100%; 
}

.emailInput::placeholder {
    color: red;
}

.customLabel {
    /* display: flex;
    flex-direction: column;  */
    gap: 5px;
}

.foto {
    max-width: 848px;
    width: 100%;
}

.ingresar{
 font-weight: bold;
 font-size: 32px
}
.mensaje{
font-weight: bold;
font-size: 16px;
}

.parrafo{
font-weight: bold;
font-size: 16px;
}

.label {
    border: 1px solid #DADADA; /* Define el borde con un grosor de 1px y un color sólido negro */
    padding: 5px; /* Agrega un espacio interno alrededor del texto del label para que el borde no esté pegado al texto */
    /* display: inline-block;  */
    /* width: 428px;
    height: 50px; */
    color: red;
    border-radius: 4px;

}

.boton {
    border: 2px solid red;
    padding: 5px; /* Agrega un espacio interno alrededor del texto del label para que el borde no esté pegado al texto */
    /* display: inline-block;  */
    width: 23px;
    height: 23px;

}

.botonrojo{
    background-color: red;
    width: 428px;
    height: 48px;
    border-radius: 8px;
    color: white;

}

.rojo {
    color: red;
    size: 16px;
}

.registrocuenta {
    padding-left: 50px;
}
.foto {
    
   flex-grow: 2;
}
.mensajeInputContainer {
    border: 1px solid #DADADA;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mensajeInput {
    border: none;
    outline: none;
    width: 100%;
}

.mensajeInput::placeholder {
    color: red;
}





.cajainformacion{
    
    background-color: red;
    max-width: 424px;
    max-height: 263px;
    border-radius: 8px;
} 

.informacion,
.text {
    
    color: white;
}

.mapa {
    max-width: 424px;
    max-height: 318px;
    border-radius: 8px;

}


.main {
    max-width: 1312px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Montserrat";
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.form {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: calc(428px * 2 + 20px);
    width: 100%;
}

.button {
    color: #fff;
    background-color: red;
    max-width: 428px;
    width: 100%;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

.button:active {
    transform: scale(0.98);
    background-color: rgba(255, 0, 0, 0.7);
}

.subtitle {
    font-size: 16px;
    font-weight: 500;
    /* font-family: "Montserrat"; */
    margin-bottom: 20px;
}

.mapa{
    max-width: 424px;
    max-height: 318px;
}
