.contenedor{
    display: flex;
    /* justify-content: space-between;*/ /* Distribuye el espacio entre los elementos */
    /* align-items: stretch; */
    max-width: 1312px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 60px;
}

.formulario {
    max-width: 424px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.emailInputContainer,
.passwordInputContainer {
    border: 1px solid #DADADA;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.emailInput,
.passwordInput {
    border: none;
    outline: none;
    width: 100%;
}

.emailInput::placeholder,
.passwordInput::placeholder {
    color: red;
}

.customLabel {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.foto {
    max-width: 848px;
    width: 100%;
}

.ingresar{
 font-weight: bold;
 font-size: 32px
}
.mensaje{
font-weight: bold;
font-size: 16px;
}

.parrafo{
font-weight: bold;
font-size: 16px;
}

.label {
    border: 1px solid #DADADA; /* Define el borde con un grosor de 1px y un color sólido negro */
    padding: 5px; /* Agrega un espacio interno alrededor del texto del label para que el borde no esté pegado al texto */
    display: inline-block; 
    width: 428px;
    height: 50px;
    color: red;
    border-radius: 4px;

}

.boton {
    border: 2px solid red;
    padding: 5px; /* Agrega un espacio interno alrededor del texto del label para que el borde no esté pegado al texto */
    display: inline-block; 
    width: 23px;
    height: 23px;

}

.botonrojo{
    background-color: red;
    width: 428px;
    height: 48px;
    border-radius: 8px;
    color: white;

}

.redCheckbox {
    width: 20px;
    height: 20px;
    border: 2px solid red;
    color: red;
}

.recordame {
    display: flex;
    justify-content: space-between;
}

.contenedorlinea {
    position: relative; /* Establece la posición relativa para que los elementos absolutos se posicionen en relación con este contenedor */
    height: 3px; /* Define la altura de la línea */
    background-color: black; /* Define el color de la línea */
  }

  .circulo {
    position: absolute; /* Establece la posición absoluta para poder posicionar el círculo dentro del contenedor */
    top: 50%; /* Coloca el círculo en el centro verticalmente */
    left: 50%; /* Coloca el círculo en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Centra el círculo correctamente */
    width: 20px; /* Define el ancho del círculo */
    height: 20px; /* Define la altura del círculo */
    border-radius: 50%; /* Hace que el círculo tenga bordes redondeados */
    background-color: white; /* Define el color del círculo */
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ingresarred {
    border: 1px solid #DADADA; /* Define el borde con un grosor de 1px y un color sólido negro */
    padding: 5px; /* Agrega un espacio interno alrededor del texto del label para que el borde no esté pegado al texto */
    display: block;
    width: 428px;
    height: 50px;
    color: black;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;

}
.rojo {
    color: red;
    size: 16px;
}

.registrocuenta {
    padding-left: 50px;
}
.foto {
    
   flex-grow: 2;
}


