.main {
    max-width: 1312px;
    margin: 0 auto;
    width: 100%;
}

.mainContainer {
    background-image: url("./../public/images/fondoPortada.png");
    /* width: 100vw;*/
    width: 100%;
    max-height: calc(100vh - 100px);
    height: 100%;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

.left {
    padding: 1rem;
    width: 50%;
}

.left h3 {
    font-weight: 900;
    font-size: 3rem;
    color: white;
    margin-top: 6rem;
}

.left p {
    color: #fff;
    font-weight: 500;
}

.left span {
    color: red;
}

.right {
   width: 50%;
}

.stats {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: .4rem 0rem 0rem 0.4rem;
    margin: 35em 0 0 0;
}

.h5 {
    color: red;
    font-weight: 1000;
}

.contactanosButton{
    background-color: red;
    color: white;
    padding: 0.6rem;
    border-radius: 0.8rem;
    margin: 0rem 0.2rem;
  
}
.rojo {
    color: red;
}

.h2 {
    font-weight:bold;
    font-weight: 800;
    text-align:center;
    font-size: 48px;

   
}

.texto1{
    text-align: center;
    font-weight: medium;
    font-size: 20px;
}
