/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/card.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.card_cardContainer__bbhxu {
    border-radius: 1rem;
    width: 25%;
    background-color: #f8f3e3;
    margin: 1rem;
    height: 45vh;
}

.card_name__G8bRC {
    text-transform: uppercase;
    font-weight: bold;
    color: red;
    text-align: center;
}

.card_imagenAdopcion__kE29k {
    border-radius: 1rem 1rem 0rem 0rem;
    height: 55%;
    width: 100%;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/cards.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.cards_cardsContainer__muHgD {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/filters.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.filters_filterContainer__RqID3 {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    padding: 3rem;
}

.filters_filterContainer__RqID3 select {
    background-color: #f8f3e3;
    border-radius: 0.6rem;
    padding: 0.4rem 0.8rem;
} 

.filters_filterName__5Df0h {
    font-weight: bold;
}
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/footer.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.footer_logo__h85Nl {
        display: flex;
        justify-content: center; /* Centrado horizontal */
        align-items: center; /* Centrado vertical */
        
      }

.footer_parrafo__xLGwp {
    text-align: center;
    font-size: 15px;
    color: #555;
}      

.footer_navegacion__8XpjS {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }

.footer_h6__P9cHP {
    color: red;
    font-weight: bold;

}
      
.footer_contenedor__glfWp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajusta el espaciado horizontal entre las columnas */
    align-items: flex-start;
    flex-direction: column;
    margin: 40px 10;
    
}
.footer_contenedor__glfWp.footer_explorar__K45So {
    margin: 40px 30px; /* Aumenta el margen lateral a 30px */
}


.footer_columna__wg0z0 {
    display: flex;
    flex-direction: column;
    margin: 20px 20;
}
.footer_boton__YJW3S {
    color: white;
    background-color: red;
    border-radius: 20px; /* Controla el radio de los bordes */
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    cursor: pointer;
      
}

.footer_footer__mqdak{ 
    background-color: #f8f3e3 ;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/parrafoAdopcion.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.parrafoAdopcion_paragraphContainer__plDM2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 20%;
    padding: 3rem;
}

.parrafoAdopcion_adopcionTitle__JiXwv {
    font-size: 2.2rem;
    font-weight: bold;
    color: #363636;
}
