/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/formularioingreso.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.formularioingreso_contenedor__rgdq1{
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: stretch;
}

.formularioingreso_costadoIzquierdo__NqKmk, .formularioingreso_foto__S_3xK{
  
   width: 50%;

}

.formularioingreso_ingresar__cW4xW{
 font-weight: bold;
 font-size: 32px
}
.formularioingreso_mensaje__UxqGJ{
font-weight: bold;
font-size: 16px;
}

.formularioingreso_parrafo__a3MTL{
font-weight: bold;
font-size: 16px;
}

.formularioingreso_label__ZUeHj {
    border: 1px solid #DADADA; /* Define el borde con un grosor de 1px y un color sólido negro */
    padding: 5px; /* Agrega un espacio interno alrededor del texto del label para que el borde no esté pegado al texto */
    display: inline-block; 
    width: 428px;
    height: 50px;
    color: red;
    border-radius: 4px;

}

.formularioingreso_boton__qWaLo {
    border: 2px solid red;
    padding: 5px; /* Agrega un espacio interno alrededor del texto del label para que el borde no esté pegado al texto */
    display: inline-block; 
    width: 23px;
    height: 23px;

}

.formularioingreso_botonrojo__Ha03L{
    background-color: red;
    width: 428px;
    height: 48px;
    border-radius: 8px;
    color: white;

}

.formularioingreso_recordame__0IHOD {
    display: block;
}

.formularioingreso_contenedorlinea__Dr_Kr {
    position: relative; /* Establece la posición relativa para que los elementos absolutos se posicionen en relación con este contenedor */
    height: 3px; /* Define la altura de la línea */
    background-color: black; /* Define el color de la línea */
  }

  .formularioingreso_circulo__NPRwi {
    position: absolute; /* Establece la posición absoluta para poder posicionar el círculo dentro del contenedor */
    top: 50%; /* Coloca el círculo en el centro verticalmente */
    left: 50%; /* Coloca el círculo en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Centra el círculo correctamente */
    width: 20px; /* Define el ancho del círculo */
    height: 20px; /* Define la altura del círculo */
    border-radius: 50%; /* Hace que el círculo tenga bordes redondeados */
    background-color: white; /* Define el color del círculo */
    border-color: black;

  }

  .formularioingreso_ingresarred__iJTXa {
    border: 1px solid #DADADA; /* Define el borde con un grosor de 1px y un color sólido negro */
    padding: 5px; /* Agrega un espacio interno alrededor del texto del label para que el borde no esté pegado al texto */
    display: block;
    width: 428px;
    height: 50px;
    color: black;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;

}
.formularioingreso_rojo__ApPM8 {
    color: red;
    size: 16px;
}

.formularioingreso_registrocuenta__rDPhV {
    padding-left: 50px;
}
.formularioingreso_foto__S_3xK {
    
   flex-grow: 2;
}



/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/footer.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.footer_logo__h85Nl {
        display: flex;
        justify-content: center; /* Centrado horizontal */
        align-items: center; /* Centrado vertical */
        
      }

.footer_parrafo__xLGwp {
    text-align: center;
    font-size: 15px;
    color: #555;
}      

.footer_navegacion__8XpjS {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }

.footer_h6__P9cHP {
    color: red;
    font-weight: bold;

}
      
.footer_contenedor__glfWp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajusta el espaciado horizontal entre las columnas */
    align-items: flex-start;
    flex-direction: column;
    margin: 40px 10;
    
}
.footer_contenedor__glfWp.footer_explorar__K45So {
    margin: 40px 30px; /* Aumenta el margen lateral a 30px */
}


.footer_columna__wg0z0 {
    display: flex;
    flex-direction: column;
    margin: 20px 20;
}
.footer_boton__YJW3S {
    color: white;
    background-color: red;
    border-radius: 20px; /* Controla el radio de los bordes */
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    cursor: pointer;
      
}

.footer_footer__mqdak{ 
    background-color: #f8f3e3 ;
}
